.container
  .row
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
      .content
        h1 DateTimePicker Styles
        label Date & Time
        #datetimepicker.input-group.date-time
          input.form-control
          span.input-group-addon
            span.fa.fa-calendar
        label Date
        #datepicker.input-group.date
          input.form-control
          span.input-group-addon
            span.fa.fa-calendar
        label Time
        #timepicker.input-group.time
          input.form-control
          span.input-group-addon
            span.fa.fa-clock-o