body{
    margin:0px;
}
a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #000;
}
.content{
    width:1024px;
    min-height:100px;
    margin:0 auto;
}
#title{
    height:66px;
    padding:8PX 0 8PX 0;
}
#logo{
    width:181px;
    height:66px;
    background-image:url(images/logo.png);
    background-size:100% 100%;
    float:left;
}
#login{
    width:100px;
    height:66px;
    float:right;
    line-height:66px;
    font-size:20px;
    color: #2d2926;
    font-weight: bold;
}
#login2{
    text-decoration: none;
    cursor: pointer;
}
#login2:hover{
    color: #ffc6ed;
}
#menu{
    height:60px;
}
#menu_list{
    height:60px;
    width:100%;
}
.mymenu{
    width:165px;
    height:60px;
    line-height:60px;
    font-size:30px;
    float:left;
    background-color:#ffb3e7;
    color:#fff;
    margin:0 10px;
    text-align: center;
    cursor: pointer; 
}
#banner{
    width:100%;
    height:800px;
    background-color:#fde7f6;
    margin:20px 0 0 0;
    overflow:auto;
}